// copy this file to secrets.h and fill it in. secrets.h is gitignored.

#define WIFI_SSID "your wifi name"
#define WIFI_PASS "your wifi password"

// posix timezone string. find yours here:
// https://github.com/nayarsystems/posix_tz_db/blob/master/zones.csv
#define TZ_STRING "EST5EDT,M3.2.0,M11.1.0"
